<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css"/>
  <link rel="stylesheet" href="https://use.typekit.net/ogs6lxk.css">
  <title>Canvas</title>
</head>
<body id='theBod'>
  
  <div id="createCanvas" style="display: block" class="field">
    <div class="captionDiv">
      <img class="topper" src='images/CanvasTop.png'>
      <h3 
        id="caption" 
        ></h3>
    </div>
    <div class="canvasDiv">
      <img id='background' src="images/DrawBox.png"/>
      <canvas id="canvas">
        Your browser does not support canvas element.
      </canvas>
    </div>
    <div class="tools">
      <input 
        type="image"
        src="images/undo.png"
        class="button" 
        onClick="undo_last()"
        style="transform: translate(-345px, -150px); z-index: 450;"></input>
      <input 
        type="image"
        src="images/clear.png"
        class="button" 
        onClick="clear_canvas()"
        style="transform: translate(-345px, -150px); z-index: 450;"></input>
      <input 
        type="image" 
        src="images/submit.png"
        class="button" 
        onClick="save_image()"
        style="transform: translate(345px, -150px);  z-index: 450;"></input>
    </div>
  </div>


  <div id="createCaption" style="display: none" class="field">
    <div id="imageHolder" class="canvasDiv">
      <img id='background' src="images/CaptionBox.png"/>
      <img id="latestImage" style="display: none"/>
    </div>
    <div class="canvasDiv">
      <input id="nextCaption" type="text" onkeyup="updateCount(this.value)" onkeydown="updateCount(this.value)" maxlength="100" style="display: none;"/>
    </div>
    <div class="tools">
      <button 
        type="button" 
        class="button" 
        onClick="save_caption()"
        style="transform: translate(330px, -30px);  z-index: 450;">SUBMIT<span style="font-size: 16pt;">&#187</span></button>
    </div>
    <div id="wordCounter" class="tools">0/100</div>
  </div>
  

  <script src="js/canvas.js"></script>
  <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
</body>
</html>