body {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

body{
    background-image: url(../images/ipadBack.jpg);
    background-size: cover;   
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

#backgroundCap {
    display: flex;
    padding-top: 2.5em;
    width: 100%;
    height: 7%;
    z-index: -20;

}
#backgroundCan {
    display: flex;
    padding-top: 2.5em;
    width: 100%;
    height: 7%;
    z-index: -20;

}

.topper {
    position: absolute;
    height:55px;
    top: 75px;
    transform: translate(-350px, 0px);
}
.topperCap {
    position: absolute;
    height:55px;
    top: 75px;
    transform: translate(-360px, 0px);
}
#caption {
    position: absolute; 
    font-family: ibm-plex-sans; 
    font-size: 22px;
    font-style: italic; 
    padding: 10px; 
    text-align: left;
    width: 75%;
    transform: translate(0px, 168px);
}
.captionDiv {
    
    display:flex;
    justify-content: center;
    border: 2px black solid;
    border-bottom: none;
    width: 57.6%;
    margin: 0 auto;
    margin-top: -50px;
}

.canvasDiv {
    display: flex;
    justify-content: center;
    
}

#canvas {
    position: absolute;
    cursor: pointer;
    background-color: white;
    width: 83.39%;
    height: 66.5%;
    transform: translate(0px, 272px);
    z-index: 300;
}

#canvasbody {
    align-self: center;
}

.tools .button {
    font-family: ibm-plex-sans;
    color: black;
    font-size: 15pt;
    align-self: center;
    height: 55px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 15px;
}

.instructionBox {
    font-family: ibm-plex-sans;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16pt;
    background: white;
    width: 26%;
    text-align: center;
}
h3 {
    text-align: right;
}
#latestImage {
    position: absolute;
    width: 1120px;
    transform: translate(0px, 150px)
}

#nextCaption {
    position: absolute;
    fill: none;
    border: none;
    font-family: ibm-plex-sans;
    font-style: italic;
    font-size: 22px;
    height: 110px;
    width: 83%;
    padding-left: 33px;
    padding-right: 10px;
    box-sizing: border-box;
    transform: translate(0px, 840px);
}

#wordCounter {
    position: absolute;
    width: 5%;
    font-family: ibm-plex-sans;
    align-content: right;
    margin-top: -215px;
    margin-left: 1165px;
    z-index: 2;


}