body {
    position: fixed;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

body{
    background-image: url(../images/ipadBack.jpg);
    background-size: cover;   
}

.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}



.captionDiv {
    
    display:flex;
    justify-content: center;
    background-color: white;
    border: 2px black solid;
    border-bottom: none;
    width: 57.6%;
    margin: 0 auto;
    margin-top: -50px;
}

.canvasDiv {
    display: flex;
    justify-content: center;
    
}

#canvas {
    border: 2px black solid;
    cursor: pointer;
}

#canvasbody {
    align-self: center;
}

.tools .button {
    font-family: ibm-plex-sans;
    color: black;
    font-size: 15pt;
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    background: white;
    font-weight: bold;
    margin: 0 15px;
}

.instructionBox {
    font-family: ibm-plex-sans;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16pt;
    background: white;
    width: 26%;
    text-align: center;
}
h3 {
    text-align: right;
}
#latestImage {
    border: 2px solid black;
}

#imageHolder {
    margin: -85px;
}

#nextCaption {
    border: 2px black solid;
    border-top: none;
    font-family: ibm-plex-sans;
    font-style: italic;
    font-size: 16px;
    height: 100px;
    width: 56.2%;
    margin-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
}

#wordCounter {
    display: flex;
    justify-content: center;
    width: 5%;
    font-family: ibm-plex-sans;
    align-content: right;
    margin-top: -265px;
    margin-left: 1010px;


}